.btn-success:hover {
  background-color: red;
}
canvas {
  animation-name: animate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes animate {
  0% {
    box-shadow: 5px 5px 38px violet;
  }
  15% {
    box-shadow: 5px 5px 38px indigo;
  }
  30% {
    box-shadow: 5px 5px 38px blue;
  }
  45% {
    box-shadow: 5px 5px 38px green;
  }
  60% {
    box-shadow: 5px 5px 38px yellow;
  }
  75% {
    box-shadow: 5px 5px 38px orange;
  }
  90% {
    box-shadow: 5px 5px 38px red;
  }
}
